<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--<bean id="student" class="com.semanticbits.friendbookn.Student"></bean>-->
        <!--<bean id="schoolEditor" class="com.semanticbits.friendbookrtyeditors.SchoolPropertyEditor"></bean>-->


        <!--<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
            <!--<property name="customEditors">-->
                <!--<map>-->
                    <!--<entry key="com.semanticbits.friendbookn.Student"-->
                           <!--value="com.semanticbits.friendbookrtyeditors.SchoolPropertyEditor"/>-->
                <!--</map>-->
            <!--</property>-->
        <!--</bean>-->

    <bean name="studentDetailsAjaxFacade" class="com.semanticbits.friendbook.facade.StudentDetailsAjaxFacade"/>
</beans>